<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SushiKingdom</title>
    <link rel="stylesheet" href="styleTemplates.css">
    <link rel="stylesheet" href="fonts.css">
    <link rel="stylesheet" href="mediaQ.css">
</head>
<body>
    <header><img class="logoSushiK" src="../img/restaurant.png" alt=""><h1>SushiKingdom</h1></header>
    <div class="BackgroundContact">
       
        
        <img class="labelImg" src="../img/label.jpg" alt="">
       
     </div>
     <footer>
        <div><a class="returnToPage" href="./index.html" target="_blank">Zur Hauptseite</a></div>
    </footer> 
</body>
